<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh Sach Employee</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="common/header :: heaader"></div>
<h1 th:text="#{employee.list}"></h1>
<p>----------------------------</p>
<table>
    <tr>
        <th>ID</th>
        <th th:text="#{employee.name}"></th>
        <th th:text="#{employee.age}"></th>
        <th th:text="#{employee.type}"></th>
    </tr>
    <tr th:each="emp : ${employees}">
        <td th:text="${emp.id}"></td>
        <td th:text="${emp.name}"></td>
        <td th:text="${emp.age}"></td>
        <td th:if="${emp.age &gt;= 45}" th:text="#{employee.old}"></td>
        <td th:if="${emp.age &lt; 45 and emp.age &gt;= 25}" th:text="#{employee.medium}"></td>
        <td th:if="${emp.age &lt; 25}" th:text="#{employee.young}"></td>
    </tr>
</table>
<p>------------------------------------------------------------</p>
<form th:action="@{/employee}" th:object="${employee}" method="post">
    Name : <input th:field="*{name}" type="text">
    Age : <input th:field="*{age}" type="text">
    <input type="submit" value="Tao moi">
</form>
<img th:src="@{/img/hello.jpg}" alt="hello">
<div th:replace="common/footer :: footer"></div>
</body>
</html>